<!-- Header -->
<header class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top py-2">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="../../views/public/index.html" id="header-home-link">
            <i class="fas fa-graduation-cap me-2"></i>
            <span>Quản lý Sinh viên PTIT</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-circle me-1"></i> <span id="user-name">Loading...</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="../../views/student/profile.html" id="profile-link"><i class="fas fa-user me-2"></i> Thông tin cá nhân</a></li>
                        <li><a class="dropdown-item" href="../../views/public/change_password.html"><i class="fas fa-key me-2"></i> Đổi mật khẩu</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="../../controllers/public/logout_process.php"><i class="fas fa-sign-out-alt me-2"></i> Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- Flash Messages -->
<div class="container-fluid mt-3">
    <div id="flash-messages"></div>
</div> 